.side-bar {
  background-color: $side_blue_dark;
  width: 300px;
  &__user-name {
    background-color: $side_blue_dark;
    height: 100px;
    align-items: center;
    display: flex;
    &__top-items {
      background-color: $side_blue_dark;
      height: 20px;
      width: 260px;
      margin-left: 20px;
      display: flex;
      justify-content: space-between;
      &__name {
        background-color: $side_blue_dark;
        color: $white;
        font-weight: bold;
      }
      &__icons {
        background-color: $side_blue_dark;
        width: 60px;
        display: flex;
        justify-content: flex-end;
        &__icon {
          margin-right: 5px;
        }
      }
    }
  }

  &__group-list {
    background-color: $side_blue_light;
    height: calc(100vh - 100px);
    &__group {
      color: $white;
      font-weight: bold;
      &__name {
       font-size: 15px;
       padding: 20px 20px 5px 20px;
      }
      &__message {
       font-size: 11px;
       padding: 0 20px 40px 20px;
      }
    }
  }
}